[BaseOS]
name=baseOS
enabled=1
gpgcheck=1
gpgkey=https://node5.askri.lab/RPM-GPG-KEY-rockyofficial
baseurl=https://node5.askri.lab/BaseOS/

[AppStream]
name=appstream
enabled=1
gpgcheck=1
gpgkey=https://node5.askri.lab/RPM-GPG-KEY-rockyofficial
baseurl=https://node5.askri.lab/AppStream/

